{% load i18n markup %}
{% if packages %}
	<table class="packages">
		<tr>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Summary" %}</th>
			<th>{% trans "Version" %}</th>
			<th>{% trans "Links" %}</th>
		</tr>
		{% for package in packages %}
			<tr class="title">
				<td class="name">{{ package.name }}</td>
				<td>{{ package.summary }}</td>
				<td>{{ package.version }}</td>
				<td><a href="http://pypi.python.org/pypi/{{ package.name }}">PyPi</a>{% if package.home_page %}, <a href="{{ package.home_page }}">Home page</a>{% endif %}{% if package.download_url %}, <br /><a href="{{ package.download_url }}">Download</a>{% endif %}{% if package.repo_url %}, {% if not package.download_url %}<br />{% endif %} <a href="{{ package.repo_url }}">Repository</a>{% endif %}{% if package.docs_url %}, <br /><a href="{{ package.docs_url }}">Documentation</a>{% endif %}</td>
			</tr>
			<tr class="description">
				<td colspan="4">{{ package.description|restructuredtext }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
